<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>RawDescription</title>
</head>
<body bgcolor="#99CC66">
<hr>
<img src="img/NetCalculatorNav.png" style="max-width:100%;">
<hr>
    <!--<p th:if="${message}!=null" th:text="${message}"></p>-->
    <font size="4" color="#4D4D4D">
        <!--loop thru List of string-->
        <p th:if="${message}!=null" th:each="message : ${message}"
           th:text="${message}">Test</p>
    </font>
<hr>
</body>
</html>