<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ExerciseMethod</title>

</head>

<body bgcolor="#99CC66">
    <!--exercise dexcription:-->
    <center><h2>Method Exercise - average</h2></center>
    <hr>
    <img src="img/NetCalculatorNav.png" style="max-width:100%;">
    <hr>
    <!--load graphical description-->
    <img src="img/NetCalculatorDesc.png" style="max-width:100%;">

    <hr>
    <!--exercise image:-->
    <img src="img/NetCalculator.png" style="max-width:100%;">
</body>
</html>